.margin {
    margin: 5px 0px 5px 5vw !important;
}

.title-top {
    text-align: center;
    margin: 20px auto;
    font-size: large;
    color: #FF473A;
}

.description {
    font-size: x-large;
    color: #000000;
    margin: 0px 0px 25px 5vw;
}

p {
    font-family: 'Montserrat';
}

.name {
    width: 50vw !important;
}

.weight {
    width: 35vw !important;
}

.line {
    margin-bottom: 20px;
    margin-top: 20px;
}

.address {
    width: 90vw !important;
}

.descriptions {
    width: 90vw !important;
    height: 20vh !important;
}

.addressee {
    text-align: center;
}
.submit-button{
    width: 100vw;
    padding: 20px 0 20px 0;
    text-align: center;
}
.submit{
    background-color: #55dd55 !important;
    border: none !important;
    color: #FFFFFF !important;
}