.upcoming-panel{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 100px 1fr;
    padding: 20px 0 20px 0;
    font-size: 15px;
}
.panel-time{
    text-align: center;
    font-family: 'Montserrat';
}
.panel-description span{
    font-size: 16px;
    font-weight: bold;
}
.expand{
    border-top: 2px solid #58c4b9;
    margin: 20px 40px 0 40px;
    padding-top: 10px;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 3;
}