.bottom-nav{
    width: 100%;
    position: fixed;
    bottom: 0;
}
.page{
    height: calc(100vh - 56px);
    box-sizing: border-box;
    width: 100vw;
    overflow-y: scroll;
    overflow-x: hidden;
}